.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway",sans-serif;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    background-image: url("https://www.qubecinema.com/sites/default/files/default_images/qube_default_banner_bg.gif");
}

h1,h2{
  color: #fff;
}
h2{
  max-width: 60%;
}


@media screen and (max-width: 720px){
  h2{
    max-width: 90%;
  }
}

